[submodule "src/third/glfw"]
	path = src/third/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/third/shaderc"]
	path = src/third/shaderc
	url = https://github.com/google/shaderc
[submodule "src/third/glm/glm"]
	path = src/third/glm/glm
	url = https://github.com/g-truc/glm
[submodule "src/third/VulkanMemoryAllocator/VulkanMemoryAllocator"]
	path = src/third/VulkanMemoryAllocator/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "src/third/stb/stb"]
	path = src/third/stb/stb
	url = https://github.com/nothings/stb
